* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#2980b9), to(#6dd5fa));
  background: linear-gradient(to bottom, #2980b9, #6dd5fa);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  margin: auto;
  width: 80vw;
  height: 220px;
  background-color: #333333;
  border: 10px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.progress-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100px;
  width: 80%;
  z-index: 0;
}

.progress-bar-before {
  background-color: #b8b8b8;
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0px;
  z-index: 1;
}

.progress-bar {
  background-color: #e0038c;
  position: absolute;
  width: 0%;
  height: 5px;
  left: 0px;
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.progress-circle {
  height: 50px;
  width: 50px;
  position: relative;
  line-height: 50px;
  border-radius: 50%;
  border: 4px solid #b8b8b8;
  background-color: white;
  z-index: 3;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

span {
  font-size: 30px;
  color: #b8b8b8;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button-container {
  width: 80%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button-container button.prev, .button-container button.next {
  padding: 5px 35px;
  background-color: #429fd1;
  border: 1px solid #057bbb;
  color: white;
  -webkit-box-shadow: 0px 3px 1px black;
          box-shadow: 0px 3px 1px black;
  cursor: pointer;
  letter-spacing: 3px;
  font-size: 15px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 5px;
}

.button-container button.prev:active, .button-container button.next:active {
  background-color: #096ba0;
  -webkit-transform: translate(0px, 3px);
          transform: translate(0px, 3px);
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #075782;
}

.button-container button.prev:disabled, .button-container button.next:disabled {
  background-color: #b8b8b8;
  border: none;
}

.active {
  border: 10px solid #e0038c;
}

.active span {
  color: black;
}

@media (max-width: 600px) {
  .container {
    width: 100vw;
  }
  .progress-container {
    width: 95%;
  }
}

@media (max-width: 400px) {
  .progress-circle {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  span {
    font-size: 20px;
  }
  .button-container {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */